<html>
    <head>
        <title>Comicshelf</title>

        <link rel="stylesheet" href="/static/index.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        {{if gt (len .data.results) 0}}
            <div class="main">
                {{range .data.results}}
                    {{if and (ne .format "Hardcover") (ne .format "Trade Paperback")}}
                        <div class="container">
                            <!-- <div class="overlay">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>archive</title><path d="M3,3H21V7H3V3M4,8H20V21H4V8M9.5,11A0.5,0.5 0 0,0 9,11.5V13H15V11.5A0.5,0.5 0 0,0 14.5,11H9.5Z" /></svg>
                            </div> -->
                            <img src="{{.thumbnail.path}}/portrait_uncanny.{{.thumbnail.extension}}" alt="img"/></td>
                            <div class="title">{{.title}}</div>
                        </div>
                    {{end}}
                {{end}}
            </div>
            <div class="attribution-container">{{.attributionText}}</div>
        {{else}}
            <label for="week">Release Week</label>
            <input type="date" id="week" />
        {{end}}
    </body>
</html>