{{define "comic-card"}}
<div id="{{.Id}}" class="container">
    <img src="{{.Thumbnail}}" alt="img" />
    <form>
        <div class="title">
            <h3><a href="series?series={{.SeriesId}}">{{.Title}}</a></h3>
        </div>

        <input type="hidden" name="series" value="{{.SeriesId}}" />

        {{ if following 0 .SeriesId }}
        {{template "unfollow"}}
        {{ else }}
        {{template "follow"}}
        {{ end }}
        <div class="pusher"></div>
        <div class="marvel-links">{{.OnSaleDate}}</div>
        {{range .Urls}}
        <div class="marvel-links"><a href="{{.Url}}" target="_blank">{{.Type}}</a></div>
        {{end}}
        <div class="marvel-links"><a href="https://marvel.com">{{.Attribution}}</a></div>
    </form>
</div>
{{end}}