{{define "comic-card"}}
{{ if not (contains .Title "Variant") }}
    {{ $resourceUri := .Series.ResourceURI }}
    <div id="{{.Id}}" class="container">
        <img src="{{.Thumbnail.Path}}/portrait_uncanny.{{.Thumbnail.Extension}}" alt="img"/>
        <form>
            <div class="title"><h3>{{.Title}}</h3></div>
            
            <input type="hidden" name="name" value="{{.Series.Name}}" />
            <button type="submit" name="key" value="{{$resourceUri}}" hx-post="/api/track">
            {{ if following $resourceUri }}
                {{template "unfollow" .Id }}
            {{else}}
                {{template "follow" .Id}}
            {{end}}
            </button>
            <div class="pusher"></div>
            <div class="marvel-links"><a href="series?series={{$resourceUri}}">{{.Series.Name}}</a></div>
            {{range .Urls}}
                {{if equals .Type "detail"}}
                    <div class="marvel-links"><a href="{{.Url}}" target="_blank">Details</a></div>
                {{end}}
            {{end}}
            {{range .Urls}}
                {{if equals .Type "reader"}}
                    <div class="marvel-links"><a href="{{.Url}}" target="_blank">Reader</a></div>
                {{end}}
            {{end}}
        </form>
    </div>
{{end}}
{{end}}