<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Comicshelf</title>

        <link href="/static/index.css" rel="stylesheet"  />
        <script src="/static/index.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body onload="activateNavItems('{{.PageEndpoint}}')">
        <div class="bar navbar">
            <form method="get" action="{{.PageEndpoint}}">
                <label for="date">Release Week</label>
                <input type="date" id="date" name="date" value="{{.Date}}" />
                <button type="submit">Submit</button>
            </form>

            <div>Marvel Unlimited ComicShelf</div>

            <div class="navigation">
                <a class="nav-item" id="/marvel-unlimited/comics" href="/marvel-unlimited/comics?date={{.Date}}">Comics</a>
                <a class="nav-item" id="/marvel-unlimited/series" href="/marvel-unlimited/series?date={{.Date}}">Series</a>
            </div>
        </div>

        <div class="main">
            {{template "content" .}}
        </div>

        <div class="pusher"></div>

        {{ if .Resp}}
            <div class="bar bottombar"><a href="https://marvel.com">{{.Resp.AttributionText}}</a></div>
        {{end}}
    </body>
</html>