html {
    background: #F2F3F4;
}

div {
    background: #F2F3F4;
}

body {
    font: bold 16px 'Roboto Bold';
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.pusher {
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 8px 0 black;
}

.navbar > div, .navbar > form {
    text-align: center;
    background: none;
    margin: 0;
}

.navbar > .navigation > .nav-item {
    color: rgb(254, 254, 254);
    margin: 0 0 0 8px;
    padding: 0 8px;
    text-decoration: none;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 8px 2px;
}

.navbar > .navigation > .nav-item-active, .navbar > .navigation > .nav-item:hover {
    background: rgb(254, 254, 254);
    color: rgb(236, 29, 36);
}

.bar {
    padding: 16px 8px;
    background: rgb(236, 29, 36);
    color: rgb(254, 254, 254);
}

.bottombar {
    text-align: center;
}