{% extends "index.html" %}

{% block content %}
    <base href="/marvel-unlimited/" />

    {% for result in results["data"]["results"] %}
        {% set resourceUri = result["series"]["resourceURI"] %}
        <div id="{{ result['id'] }}" class="container">
            <img src="{{ result['thumbnail']['path'] }}/portrait_uncanny.{{ result['thumbnail']['extension'] }}" alt="img"/>
            <form>
                <div class="title"><h3>{{ result["title"] }}</h3></div>

                <input type="hidden" name="name" value="{{ result['series']['name'] }}" />
                <button type="submit" name="key" value="{{ resourceUri }}" hx-post="/api/track">
                    {% if following(index=resourceUri) %}
                        {% include "unfollow.html" %}
                    {% else %}
                        {% include "follow.html" %}
                    {% endif %}
                </button>
                <div class="pusher"></div>
                <div class="marvel-links"><a href="series?series={{ resourceUri }}">{{ result["series"]["name"] }}</a></div>
                {% for url in result["urls"] %}
                    {% if url["type"] == "detail" %}
                        <div class="marvel-links"><a href="{{ url['url'] }}" target="_blank">Details</a></div>
                    {% endif %}
                {% endfor %}
                {% for url in result["urls"] %}
                    {% if url["type"] == "reader" %}
                        <div class="marvel-links"><a href="{{ url['url'] }}" target="_blank">Reader</a></div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    {% endfor %}
{% endblock content %}
